/* CSS Document */
*{margin:0; padding:0; font-size:12px; color:#333; font-family:Verdana, Geneva, sans-serif, "ו"; list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline; color:#ff0000;}
p{line-height:24px;}
input{
font-size:20px;
padding:3px 20px 3px 20px;
margin:5px 10px 5px 10px;
}
#query,#reset {
font-size:20px;
color:#fff;
background:#3399cc;
padding:3px 20px 3px 20px;
border-radius:5px;
margin:5px 10px 5px 10px;
}

#wrap{width:1300px; margin:0 auto; padding:0 10px 0px; border-left:1px solid #e7e7e7; border-right:1px solid #e7e7e7;}
/* #header{width:100%; overflow:hidden;} */
.logo{border-radius:5px; margin-top:4px; width:100%; height:50px; line-height:50px; font-size:30px; font-family:"ו"; font-weight:bolder; background:#ddd; color:#000; text-indent:30px;}
/* .nav{width:100%; margin-top:0px;}
.nav li{margin:0 32px; float:left;}
.nav li a{color:#7f7f7f; font-size:16px; display:block; padding-bottom:2px;}
.nav li a:hover{border-bottom:3px solid #cc0000; text-decoration:none;}
.nav li.current{border-bottom:3px solid #cc0000;}
.nav li.current a:hover{border-bottom:none;} */

#mainbody{width:100%; position:relative; margin-top:3px;}

#sidebar{width:190px; padding-bottom:5px; background:#ddd; border-radius:5px;}
#sidebar dl{padding:0 0 5px ; border-radius:5px;}
#sidebar dt{border-radius:5px 5px 0 0; line-height:22px; font-size:20px; font-weight:bolder; color:#fff; background:#3399cc; padding:5px 0 5px 15px; font-weight:normal; margin-bottom:10px;}
#sidebar dd{line-height:24px; padding-left:15px; font-weight:bolder;}

#sidebar dd.current a{color:#f00;}

#content{width:1100px; margin-left:200px; position:absolute; top:0;}
#content dl{margin-bottom:10px; border:1px solid #3399cc; border-radius:5px 5px 0 0;}
#content dt{border-radius:5px 5px 0 0; line-height:22px; font-size:20px; font-weight:bolder; color:#fff; background:#3399cc; padding:5px 0 5px 15px; font-weight:normal; margin-bottom:10px;}
#content dd{text-align:center; line-height:22px;}
#content textarea{
height:50px; 
width:1080px; 
resize:none;
}
#customers
  {
  position:relative;
  width:99%;
  margin:5px;
  margin-right:50px;
  font-family:"ו";
  border-collapse:collapse;
  border-radius:5px 5px 5px 5px;
  }

#customers td, #customers th 
  {
  font-size:1em;
  /*border:1px solid #98bf21;*/
  border:1px solid #fff;
  padding:1px 1px 1px 3px;
  text-align:left;
  }

#customers th 
  {
  font-size:1.1em;
  
  padding-top:1px;
  padding-bottom:1px;
  /*background-color:#A7C942;*/
  background-color:#606060;
  color:#ffffff;
  margin:10px;
  }

#customers tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  margin:10px;
  }
.learn a{color:#900b09; text-decoration:underline; padding-bottom:2px;}
.learn a:hover{text-decoration:none;}
.tips{color:#999; margin-top:20px;}
.pageto{border-top:1px solid #aaa; border-bottom:3px solid #aaa; margin-top:5px; padding:15px 0;}
.pageto a{margin:0 10px; background:#f3f3f3; padding:5px 20px; border:1px solid #dfdfdf; color:#555;}
.pageto a:hover{color:#000; text-decoration:none;}

.disline{border-bottom:1px dashed #ccc; margin-top:10px;}

#footer{
width:100%; 
margin-top:5px;
padding:5px 0; 
text-align:center; 
color:#000; 
background:#ddd; 
border-radius:5px;
}

fieldset{
	display:inline;
	padding:10px;
	border:1px solid #B5B8C8;
	text-align:left;
	margin-top:10px;
	margin-bottom:15px;
	margin-right:10px;
}
legend{
	font-size:15px;
}

.radio, .checkbox{
	margin-right:1px;
	
}
label{
	font-size:20px;
}

#pager{
	margin-top:10px;
	margin-bottom:9px;
}
